<div fxLayout="row warp" fxLayoutAlign="center">
  <div fxFlex="80%" fxFlex.xs="100%">
    <div class="content_section">
      <h1>เครดิต</h1>
      <h3>Credit</h3>
      <hr width="38%" style="margin-top: 18px;margin-bottom: 18px;">
      <div fxLayout="row warp" fxLayoutGap="8px grid" fxLayoutAlign="center">
        <div fxFlex.xs="100%" fxFlex="35%">
          <mat-card data-aos="zoom-in" data-aos-duration="700">
            <mat-card-content>
              <b class="card-title-text">Website Framework และ Library</b>
              <ul type="square" style="text-align: left;">
                <li>
                  Angular 14 Framework
                  <a href="https://angular.io/" target="_blank">คลิก</a>
                </li>
                <li>
                  Angular Material
                  <a href="https://material.angular.io/" target="_blank">คลิก</a>
                </li>
                <li>
                  Angular Flex Layout
                  <a href="https://www.npmjs.com/package/@angular/flex-layout" target="_blank">คลิก</a>
                </li>
                <li>
                  AOS (Animate On Scroll Library)
                  <a href="https://michalsnik.github.io/aos/" target="_blank">คลิก</a>
                </li>
                <li>
                  Vanta.JS
                  <a href="https://www.vantajs.com/" target="_blank">คลิก</a>
                </li>
                <li>
                  Google Icon
                  <a href="https://fonts.google.com/icons?icon.set=Material+Icons" target="_blank">คลิก</a>
                </li>
                <li>
                  Google Font (Kanit)
                  <a href="https://fonts.google.com/specimen/Kanit" target="_blank">คลิก</a>
                </li>
                <li>
                  Font Awesome 5.10
                  <a href="https://fontawesome.com/v5/search" target="_blank">คลิก</a>
                </li>
              </ul>
              <b>Framework หลัก: </b> Angular 14<br>
              <b>ภาษาที่ใช้ในการพัฒนา: </b> TypeScript, HTML<br>
              <b>ภาษาที่ใช้ในการตกแต่ง: </b> SCSS (Sassy Cascading Style Sheets)
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex.xs="100%" fxFlex="35%">
          <mat-card data-aos="zoom-in" data-aos-duration="900">
            <mat-card-content>
              <b class="card-title-text">เนื้อหาที่นำมาสรุปเป็นบทความ</b>
              <ul type="square" style="text-align: left;">
                <li>ใจเย็น ๆ ครับยังไม่ได้เนื้อหา!!!</li>
                <li>
                  การทำ .htaccess ของ Angular บน Apache Webserver
                  <a href="https://stackoverflow.com/questions/66775535/angular-htaccess-for-root-and-subdirectory"
                    target="_blank">คลิก</a>
                </li>
                <li>API ผลงานของ วุฒิพร ทัศนา จาก<br>
                  <a href="https://api.wutthiphon.space/api/woodych_web/award"
                    target="_blank">https://api.wutthiphon.space</a>
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex.xs="100%" fxFlex="35%">
          <mat-card data-aos="zoom-in" data-aos-duration="900">
            <mat-card-content>
              <b class="card-title-text">การพัฒนา</b>
              <div style="text-align: left">
                <b>Coded & Testing</b>
                <ul type="square" style="text-align: left;">
                  <li>
                    Visual Studio Code
                    <a href="https://code.visualstudio.com/download" target="_blank">Download</a>
                  </li>
                  <li>
                    Filezilla
                    <a href="https://filezilla-project.org" target="_blank">Download</a>
                  </li>
                  <li>
                    Windows Terminal
                    <a href="https://learn.microsoft.com/en-us/windows/terminal/install" target="_blank">Download</a>
                  </li>
                  <li>
                    Postman (Award API)
                    <a href="https://www.postman.com" target="_blank">Download</a>
                  </li>
                </ul>
              </div>
              <div style="text-align: left">
                <b>Video Editing</b>
                <ul type="square" style="text-align: left;">
                  <li>Final Cut Pro <a href="https://www.apple.com/th/final-cut-pro/" target="_blank">คลิก</a></li>
                  <li>Adobe Creative Cloud (use Photoshop)
                    <a href="https://www.adobe.com/creativecloud.html" target="_blank">คลิก</a>
                  </li>
                </ul>
              </div>
              <div style="text-align: left">
                <b>การแก้ไขปัญหาต่าง ๆ</b>
                <ul type="square" style="text-align: left;">
                  <li>Stack Overflow <a href="https://stackoverflow.com/" target="_blank">คลิก</a></li>
                  <li>Github <a href="https://github.com/" target="_blank">คลิก</a></li>
                  <li>Medium <a href="https://medium.com/" target="_blank">คลิก</a></li>
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <p fxFlex="100%" style="margin-top: 30px;">
          <b>Copyright &copy; 2022</b> Wutthiphon Projects (For FundCom Education)
          <br>
          Visit <a href="https://wutthiphon.space" target="_blank">https://wutthiphon.space</a>
        </p>
      </div>

    </div>
  </div>
</div>
