<div fxLayout="row warp" fxLayoutAlign="center">
  <div fxFlex="80%" fxFlex.xs="100%">
    <div class="content_section">
      <h1>เครดิต</h1>
      <h3>Credit</h3>
      <hr width="38%" style="margin-top: 18px;margin-bottom: 18px;">
      <div fxLayout="row warp" fxLayoutGap="8px grid" fxLayoutAlign="center">
        <div fxFlex.xs="100%" fxFlex="35%">
          <mat-card data-aos="zoom-in" data-aos-duration="700">
            <mat-card-content>
              <b class="card-title-text">Website Framework และ Library</b>
              <ul type="square" style="text-align: left;">
                <li>
                  Angular 14 Framework
                  <a href="https://angular.io/" target="_blank">คลิก</a>
                </li>
                <li>
                  Angular Material
                  <a href="https://material.angular.io/" target="_blank">คลิก</a>
                </li>
                <li>
                  Angular Flex Layout
                  <a href="https://www.npmjs.com/package/@angular/flex-layout" target="_blank">คลิก</a>
                </li>
                <li>
                  AOS (Animate On Scroll Library)
                  <a href="https://michalsnik.github.io/aos/" target="_blank">คลิก</a>
                </li>
                <li>
                  Vanta.JS
                  <a href="https://www.vantajs.com/" target="_blank">คลิก</a>
                </li>
                <li>
                  Google Icon
                  <a href="https://fonts.google.com/icons?icon.set=Material+Icons" target="_blank">คลิก</a>
                </li>
                <li>
                  Google Font (Kanit)
                  <a href="https://fonts.google.com/specimen/Kanit" target="_blank">คลิก</a>
                </li>
                <li>
                  Font Awesome 5.10
                  <a href="https://fontawesome.com/v5/search" target="_blank">คลิก</a>
                </li>
              </ul>
              <b>Framework หลัก: </b> Angular 14<br>
              <b>ภาษาที่ใช้ในการพัฒนา: </b> TypeScript, HTML<br>
              <b>ภาษาที่ใช้ในการตกแต่ง: </b> SCSS (Sassy Cascading Style Sheets)
            </mat-card-content>
          </mat-card>

          <mat-card data-aos="zoom-in" data-aos-duration="900" style="margin-top: 8px;">
            <mat-card-content>
              <b class="card-title-text">เนื้อหาที่นำมาสรุปเป็นบทความ</b>
              <ul type="square" style="text-align: left;">
                <li>
                  แนะนำภาษา TypeScript จาก
                  <a href="http://marcuscode.com/lang/typescript/introduction" target="_blank">ดูบทความ</a>
                </li>
                <li>
                  ทำความรู้จัก OSI Model
                  <a href="https://www.ablenet.co.th/2020/08/28/what-is-osi-model/" target="_blank">ดูบทความ</a>
                </li>
                <li>
                  ประวัติระบบปฏิบัติการ Microsoft Windows ตั้งแต่ Windows 1.0 ถึง Windows 10
                  <a href="https://www.jib.co.th/web/news/news_detail/4599/%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%A7%E0%B8%B1%E0%B8%95%E0%B8%B4%E0%B8%A3%E0%B8%B0%E0%B8%9A%E0%B8%9A%E0%B8%9B%E0%B8%8F%E0%B8%B4%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%B4%E0%B8%81%E0%B8%B2%E0%B8%A3-Microsoft-Windows-%E0%B8%95%E0%B8%B1%E0%B9%89%E0%B8%87%E0%B9%81%E0%B8%95%E0%B9%88-Windows-1-0-%E0%B8%96%E0%B8%B6%E0%B8%87-Windows-10"
                    target="_blank">ดูบทความ</a>
                </li>
                <li>
                  มารู้จักประวัติของ "ภาษาไพธอน" กันเถอะ!
                  <a href="https://intrend.trueid.net/article/%E0%B8%A1%E0%B8%B2%E0%B8%A3%E0%B8%B9%E0%B9%89%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%A7%E0%B8%B1%E0%B8%95%E0%B8%B4%E0%B8%82%E0%B8%AD%E0%B8%87-%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%9E%E0%B8%98%E0%B8%AD%E0%B8%99-%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%80%E0%B8%96%E0%B8%AD%E0%B8%B0-trueidintrend_77630"
                    target="_blank">ดูบทความ</a>
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex.xs="100%" fxFlex="35%">
          <mat-card data-aos="zoom-in" data-aos-duration="900">
            <mat-card-content>
              <b class="card-title-text">การพัฒนา & ตัดต่อ</b>
              <div style="text-align: left">
                <b>Coded & Testing</b>
                <ul type="square" style="text-align: left;">
                  <li>
                    Visual Studio Code
                    <a href="https://code.visualstudio.com/download" target="_blank">Download</a>
                  </li>
                  <li>
                    Filezilla (File Transfer)
                    <a href="https://filezilla-project.org" target="_blank">Download</a>
                  </li>
                  <li>
                    Windows Terminal (SSH & Framework Command)
                    <a href="https://learn.microsoft.com/en-us/windows/terminal/install" target="_blank">Download</a>
                  </li>
                  <li>
                    Postman (Test My Award API)
                    <a href="https://www.postman.com" target="_blank">Download</a>
                  </li>
                  <li>
                    Discord Widget <a href="https://discord.com/" target="_blank">Download</a>
                  </li>
                  <li>API ผลงานของผมวุฒิพร ทัศนา จาก<br>
                    <a href="https://api.wutthiphon.space/api/woodych_web/award"
                      target="_blank">https://api.wutthiphon.space</a>
                  </li>
                  <li>
                    การทำ .htaccess ของ Angular บน Apache Webserver
                    <a href="https://stackoverflow.com/questions/66775535/angular-htaccess-for-root-and-subdirectory"
                      target="_blank">อ่าน</a>
                  </li>
                </ul>
              </div>
              <div style="text-align: left">
                <b>Video Editing</b>
                <ul type="square" style="text-align: left;">
                  <li>[VDO] AE Templates - Signal / Technology Opener (ใช้ทำ Intro)
                    <a href="https://www.youtube.com/watch?v=fzWzPXEhPvA" target="_blank">คลิก</a>
                  </li>
                  <li>Final Cut Pro X <a href="https://www.apple.com/th/final-cut-pro/" target="_blank">คลิก</a></li>
                  <li>Adobe Creative Cloud (use Photoshop & Lightroom)
                    <a href="https://www.adobe.com/creativecloud.html" target="_blank">คลิก</a>
                  </li>
                </ul>
              </div>
              <div style="text-align: left">
                <b>การแก้ไขปัญหาต่าง ๆ</b>
                <ul type="square" style="text-align: left;">
                  <li>Stack Overflow <a href="https://stackoverflow.com/" target="_blank">คลิก</a></li>
                  <li>Github <a href="https://github.com/" target="_blank">คลิก</a></li>
                  <li>Medium <a href="https://medium.com/" target="_blank">คลิก</a></li>
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <p fxFlex="100%" style="margin-top: 30px;">
          <b>Copyright &copy; 2022</b> Wutthiphon Projects (For FundCom Education)
          <br>
          Visit <a href="https://wutthiphon.space" target="_blank">https://wutthiphon.space</a>
        </p>
      </div>

    </div>
  </div>
</div>
