<div fxLayout="row warp" class="container" fxLayoutAlign="center">
  <div fxFlex="80%" fxFlex.xs="100%">
    <div class="content_section">
      <h1 data-aos="zoom-in" data-aos-duration="400">เครดิต</h1>
      <h3 data-aos="zoom-in" data-aos-duration="600">Credit</h3>

      <div fxLayout="row warp" fxLayoutGap="8px grid" fxLayoutAlign="center">
        <div fxFlex.xs="100%" fxFlex="35%">
          <mat-card data-aos="zoom-in" data-aos-duration="700">
            <mat-card-content>
              <b class="card-title-text">Website Framework และ Library</b>
              <ul type="square" style="text-align: left;">
                <li>
                  Angular 14 Framework
                  <a href="https://angular.io/" target="_blank">คลิก</a>
                </li>
                <li>
                  Angular Material
                  <a href="https://material.angular.io/" target="_blank">คลิก</a>
                </li>
                <li>
                  Angular Flex Layout
                  <a href="https://www.npmjs.com/package/@angular/flex-layout" target="_blank">คลิก</a>
                </li>
                <li>
                  AOS (Animate On Scroll Library)
                  <a href="https://michalsnik.github.io/aos/" target="_blank">คลิก</a>
                </li>
              </ul>
              <b>Framework หลัก: </b> Angular 14<br>
              <b>ภาษาที่ใช้ในการพัฒนา: </b> TypeScript, HTML<br>
              <b>ภาษาที่ใช้ในการตกแต่ง: </b> SCSS (Sassy Cascading Style Sheets)
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex.xs="100%" fxFlex="35%">
          <mat-card data-aos="zoom-in" data-aos-duration="900">
            <mat-card-content>
              <b class="card-title-text">เนื้อหาที่นำมาสรุปเป็นบทความ</b>
              <ul type="square" style="text-align: left;">
                <li>ยังไม่มี!!!</li>
                <li>คู่มือการทำ .htaccess ของ Angular บน Apache Webserver</li>
                <li>API ผลงานของ วุฒิพร ทัศนา จาก<br>
                  <a href="https://api.wutthiphon.space" target="_blank">https://api.wutthiphon.space</a>
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex.xs="100%" fxFlex="35%">
          <mat-card data-aos="zoom-in" data-aos-duration="900">
            <mat-card-content>
              <b class="card-title-text">การพัฒนา</b>
              <div style="text-align: left">
                <b>Coded & Testing</b>
                <ul type="square" style="text-align: left;">
                  <li>Visual Studio Code</li>
                  <li>Filezilla</li>
                  <li>Windows Terminal</li>
                  <li>Postman (Award API)</li>
                </ul>
              </div>
              <div style="text-align: left">
                <b>Video Editing</b>
                <ul type="square" style="text-align: left;">
                  <li>Final Cut Pro</li>
                  <li>Adobe Photoshop</li>
                </ul>
              </div>
              <div style="text-align: left">
                <b>การแก้ไขปัญหาต่าง ๆ</b>
                <ul type="square" style="text-align: left;">
                  <li>Stack Overflow</li>
                  <li>Github</li>
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <p fxFlex="100%" style="margin-top: 30px;">
          <b>Copyright &copy; 2022</b> Wutthiphon Projects (For FundCom Education)
          <br>
          Visit <a href="https://wutthiphon.space" target="_blank">https://wutthiphon.space</a>
        </p>
      </div>

    </div>
  </div>
</div>
