<div fxLayout="row warp" fxLayoutAlign="center">
  <div fxFlex="80%" fxFlex.xs="100%">
    <div class="content_section">
      <h1>บทความ</h1>
      <h3>Articles</h3>
      <hr width="38%" style="margin-top: 18px;margin-bottom: 18px;">
      <div fxLayout="row warp" fxLayoutGap="8px grid" fxLayoutAlign="center">
        <div fxFlex="25%" fxFlex.xs="100%" *ngFor="let act of articles_array">
          <mat-card data-aos="zoom-in" data-aos-duration="800" style="height: 93%" class="mat-elevation-z4">
            <img mat-card-image [src]="act.img" alt="Articles Image">
            <mat-card-title><b>{{act.name}}</b></mat-card-title>
            <mat-card-content>
              <p>
                {{act.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="primary" [routerLink]="'./'+act.id">
                <mat-icon>visibility</mat-icon>
                อ่านเพิ่มเติม
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>
