.articles-content * {
  font-size: 14pt;
  line-height: 18pt;
}

.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.responsive2 {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.responsive3 {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.center {
  text-align: center;
}

.articales {
  text-indent: 3em;
}
