<div fxLayout="row warp" fxLayoutAlign="center">
  <div fxFlex="80%" fxFlex.xs="100%">
    <div class="content_section">
      <h1 data-aos="zoom-in" data-aos-duration="400">บทความ</h1>
      <h3 data-aos="zoom-in" data-aos-duration="600">Articles</h3>
      <hr width="38%" style="margin-top: 18px;margin-bottom: 18px;">
      <div fxLayout="row warp" fxLayoutGap="8px grid" fxLayoutAlign="center">
        <div fxFlex="25%" fxFlex.xs="100%" *ngFor="let act of articles_array">
          <mat-card data-aos="zoom-in" data-aos-duration="800">
            <mat-card-title>{{act.name}}</mat-card-title>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{act.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="primary" [routerLink]="'./'+act.id">
                <mat-icon>visibility</mat-icon>
                อ่านเพิ่มเติม
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>
