<div fxLayout="row warp">
  <div fxFlex="100%" fxFlex.xs="100%" class="header_section parallax" id="home_header_section"
    style="color:white;text-align: center;background-repeat: no-repeat;background-size: cover;">
    <div fxLayout="row warp" fxLayoutAlign="center" class="middle_center" fxLayoutGap="8px grid">
      <div fxFlex="70%" fxFlex.xs="100%">
        <div fxLayout="row warp" fxLayoutAlign="center">
          <div fxFlex="80%" fxFlex.xs="100%" style="margin: auto;" align="center">

            <img src="./assets/images/logo.png" width="80%" fxHide.gt-sm="true">
            <img src="./assets/images/logo.png" width="30%" fxHide.lt-md="true">

            <h1 style="margin-top: 35px;">WUTTHIPHON TASSANA</h1>
            <h3 style="margin-bottom: 35px;">วุฒิพร ทัศนา</h3>
            <div fxLayout="row warp" fxLayoutAlign="center" fxLayoutGap="8px grid">
              <div fxFlex="35%" fxFlex.xs="75%">
                <button mat-stroked-button class="profile_btn full-width" (click)="scrollToElement(section_profile)">
                  <mat-icon>ads_click</mat-icon>
                  คลิกเพื่ออ่านประวัติส่วนตัว
                </button>
              </div>
              <div fxFlex="35%" fxFlex.xs="75%">
                <button mat-stroked-button class="profile_btn full-width" routerLink="/articles">
                  <mat-icon>article</mat-icon>
                  คลิกเพื่อดูบทความ
                </button>
              </div>
              <div fxFlex="35%" fxFlex.xs="75%">
                <button mat-stroked-button class="profile_btn full-width" routerLink="/credit">
                  <mat-icon>bookmark_border</mat-icon>
                  คลิกเพื่อดูเครดิต
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.xs="100%" class="parallax2" #section_profile>
    <div class="content_section">
      <h1 data-aos="zoom-in" data-aos-duration="400">ประวัติส่วนตัว</h1>
      <h3 data-aos="zoom-in" data-aos-duration="600">Profile</h3>
      <div fxLayout="row warp" fxLayoutAlign="center center" fxLayoutGap="8px grid">
        <div fxFlex="30%" fxFlex.xs="100%" fxLayoutAlign="center">
          <img src="./assets/images/profile/Wutthiphon_Kmutnb2.png" style="width: 100%;" fxFlex="100%" fxFlex.xs="100%"
            class="profile_image3">
        </div>
        <div fxFlex="40%" fxFlex.xs="100%" style="text-align: justify;" data-aos="zoom-in" data-aos-duration="700">
          <p style="text-indent: 32px;font-size: 14pt;margin-top: 16px;line-height: 18pt;">
            <b>ผมนายวุฒิพร ทัศนา ชื่อเล่น วุ๊ดดี้ รหัสนักศึกษา 6504062620116</b>
            นักศึกษามหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ คณะวิทยาศาสตร์ประยุกต์
            สาขาวิทยาการคอมพิวเตอร์ (CS - COM-SCI) ปัจจุบันกำลังศึกษาอยู่ระดับปีที่ 1 <u>อาศัยอยู่ในเขตบางกอกน้อย
              แขวงอรุณอมรินทร์ กรุงเทพมหานคร 10700</u> มีความชอบในการเขียนและพัฒนาโปรแกรมเช่น การพัฒนาเว็บไซต์
            โปรแกรมคอมพิวเตอร์ ที่ผ่านมาได้ทำผลงานไว้ในระดับมัธยมศึกษา ซึ่งสามารถอ่านได้ที่ด้านล่างของหน้านี้
            งานอดิเรกคือ การอ่านนิยาย (LN - LightNovel) การเล่นเกมส์ และการฟังเพลง นอกจากนี้ยังชอบทดลองสิ่งแปลกใหม่
            ที่ช่วยในการพัฒนาการเขียนโปรแกรม
          </p>

          <p style="text-indent: 32px;font-size: 14pt;margin-top: 16px;line-height: 18pt;">
            <b>เป้าหมายในอนาคตของผมคือ </b><u>การได้เป็นโปรแกรมเมอร์ที่สามารถทำงานหาเลี้ยงชีพด้วยตนเองได้</u>
            เขียนโปรแกรมโดยใช้ได้หลายภาษา ทำงานได้หลาย Platform
            และนอกจากนั้นยังอยากมีความสามารถในด้านอื่นๆ นอกจากการเขียนโปรแกรมด้วย เช่น ระบบเครือข่าย ,
            ระบบการจัดการฐานข้อมูล ,
            ระบบความปลอดภัย
          </p>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%">
          <mat-card data-aos="zoom-in" data-aos-duration="700" class="mat-elevation-z4">
            <mat-card-content>
              <b style="font-size: 14pt;">Video แนะนำตัวเอง</b>
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/QaWwN2CJBws" title="YouTube video player" frameborder="0"
                  width="315" height="560"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.xs="100%" class="parallax">
    <div class="content_section" style="color: #FFF;">
      <h1 data-aos="zoom-in" data-aos-duration="400">ประวัติการศึกษา</h1>
      <h3 data-aos="zoom-in" data-aos-duration="600">Education</h3>
      <div fxLayout="row warp" fxLayoutAlign="center center" fxLayoutGap="8px grid">
        <div fxFlex="35%" fxFlex.xs="100%" data-aos="zoom-in" data-aos-duration="400" fxHide.gt-md="true"
          fxLayoutAlign="center">
          <img src="./assets/images/profile/Wutthiphon_Kmutnb.png" style="width: 100%;" fxFlex="70%" fxFlex.xs="100%"
            class="profile_image2">
        </div>
        <div fxFlex="35%" fxFlex.xs="100%" style="text-align: left;">
          <mat-card data-aos="zoom-in" data-aos-duration="700">
            <mat-card-content>
              <p style="font-size: 22pt;margin-bottom: 16px;"><b>ปัจจุบัน</b></p>
              <b style="font-size: 20pt;color:#e56726">มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</b>
              <p style="font-size: 16pt;margin-bottom: 12px;">
                <b>คณะ:</b> วิทยาศาสตร์ประยุกต์
                <b>สาขา:</b> วิทยาการคอมพิวเตอร์
              </p>
              <a mat-flat-button style="background-color: #e56726;" href="https://kmutnb.ac.th" target="_blank">
                <mat-icon>open_in_new</mat-icon>
                เว็บไซต์มหาวิทยาลัย
              </a>
              <a mat-flat-button style="background-color: #e56726;margin-left: 4px;" href="http://cs.kmutnb.ac.th"
                target="_blank">
                <mat-icon>open_in_new</mat-icon>
                เว็บไซต์ภาควิชา
              </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex=" 35%" fxFlex.xs="100%" data-aos="zoom-in" data-aos-duration="400" fxHide.lt-md="true"
          fxLayoutAlign="center">
          <img src="./assets/images/profile/Wutthiphon_Kmutnb.png" style="width: 100%;" fxFlex="70%" fxFlex.xs="100%"
            class="profile_image2">
        </div>

        <div fxFlex="35%" fxFlex.xs="100%" data-aos="zoom-in" data-aos-duration="400" fxLayoutAlign="center">
          <img src="./assets/images/profile/Wutthiphon_Taweetha.jpg" style="width: 100%;" fxFlex="70%" fxFlex.xs="100%"
            class="profile_image">
        </div>
        <div fxFlex=" 35%" fxFlex.xs="100%" style="text-align: left;">
          <mat-card data-aos="zoom-in" data-aos-duration="700">
            <mat-card-content>
              <p style="font-size: 22pt;margin-bottom: 16px;"><b>มัธยมศึกษา</b></p>
              <b style="font-size: 24pt;color:rgb(21, 156, 73)">โรงเรียนทวีธาภิเศก</b>
              <p style="font-size: 16pt;margin-bottom: 12px;">
                <b>ตอนต้น | แผนการเรียน:</b> วิทยาศาสตร์ - คณิตศาสตร์ - คอมพิวเตอร์
              </p>
              <p style="font-size: 16pt;margin-bottom: 12px;">
                <b>ตอนปลาย | แผนการเรียน:</b> วิทยาศาสตร์ - คณิตศาสตร์
              </p>
              <a mat-flat-button class="primary" href="https://taweethapisek.ac.th" target="_blank">
                <mat-icon>open_in_new</mat-icon>
                เว็บไซต์โรงเรียน
              </a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.xs="100%" class="parallax2">
    <div class="content_section">
      <h1 data-aos="zoom-in" data-aos-duration="400">รางวัลและผลงาน</h1>
      <h3 data-aos="zoom-in" data-aos-duration="600">Awards & achievements</h3>
      <div fxLayout="row warp" fxLayoutAlign="center" fxLayoutGap="8px grid" data-aos="zoom-in" data-aos-duration="800">
        <div *ngIf="award_isLoad">
          <div align="center">
            <mat-spinner diameter="30"></mat-spinner>
            กำลังโหลดข้อมูล...
          </div>
        </div>
        <div class="scrolling-wrapper" *ngIf="!award_isLoad">
          <mat-card class="mat-elevation-z0" *ngFor="let award of allaward;let i = index"
            style="margin-right: 14px;max-width: 350px;height: 90%;" [ngClass]="{'first': i == 0}">
            <img mat-card-image class="card-header-image"
              [src]="'https://api.wutthiphon.space/app/public/images/content/award/' + award.image || '/assets/images/WoodyCH_Logo.png'"
              style="height: 260px;">
            <mat-card-content fxLayoutAlign="center">
              <div fxLayout="row warp" fxLayoutAlign="center" fxLayoutGap="4px grid">
                <div fxFlex="100%">
                  <b>{{award.name}}</b>
                </div>
                <div fxFlex="100%">
                  <a mat-flat-button class="primary" [href]="award.link" target="_blank"
                    *ngIf="award.link != '' && award.link != null">
                    <mat-icon>open_in_new</mat-icon>
                    ตัวอย่างผลงาน
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.xs="100%" class="parallax">
    <div class="content_section" style="color: #FFF;">
      <h1 data-aos="zoom-in" data-aos-duration="400">เฟรมเวิร์คและภาษาที่สามารถเขียนได้</h1>
      <h3 data-aos="zoom-in" data-aos-duration="600">Writeable Language & Framework</h3>
      <div fxLayout="row warp" fxLayoutAlign="center" fxLayoutGap="8px grid">
        <div fxFlex="70%" fxFlex.xs="100%">
          <mat-card class="mat-elevation-z3" style="border-radius: 30px;background-color: rgb(255, 255, 255);"
            data-aos="zoom-in" data-aos-duration="800">
            <div fxLayout="row warp" fxLayoutAlign="center center" fxLayoutGap="12px grid">
              <img src="assets/images/icon/Coded/HTML.png" class="logo-image">
              <img src="assets/images/icon/Coded/CSS.png" class="logo-image">
              <img src="assets/images/icon/Coded/JS.png" class="logo-image">
              <img src="assets/images/icon/Coded/TS.png" class="logo-image">
              <img src="assets/images/icon/Coded/NetFramework.png" class="logo-image">
              <img src="assets/images/icon/Coded/PHP.png" class="logo-image">
              <img src="assets/images/icon/Coded/Python.png" class="logo-image">
              <div fxFlexFill></div>
              <img src="assets/images/icon/Coded/BS.png" class="logo-image">
              <img src="assets/images/icon/Coded/Angular.png" class="logo-image">
              <img src="assets/images/icon/Coded/Vue.png" class="logo-image">
              <img src="assets/images/icon/Coded/Laravel.png" class="logo-image">
              <img src="assets/images/icon/Coded/MySQL.png" class="logo-image">
              <img src="assets/images/icon/Coded/NodeJS.png" class="logo-image">
              <img src="assets/images/icon/Coded/Express.png" class="logo-image">
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.xs="100%" class="parallax2">
    <div class="content_section">
      <h1 data-aos="zoom-in" data-aos-duration="400">สิ่งที่ชอบ</h1>
      <h3 data-aos="zoom-in" data-aos-duration="600">Favroite</h3>
      <div fxLayout="row warp" fxLayoutAlign="center" fxLayoutGap="8px grid">
        <div fxFlex="23.33%" fxFlex.xs="100%" data-aos="zoom-in" data-aos-duration="400">
          <h2>
            <mat-icon>stadium</mat-icon>
            งานอดิเรก
          </h2>
          <b style="font-size: 12pt;">ทดลองเขียน Website</b>
          <p>โดยใช้ Framework และ Library หลาย ๆ อย่าง</p>
          <b style="font-size: 12pt;">อ่านนิยาย / LightNovel</b>
          <p>หากต้องการผ่อนคลายก็จะไปอ่านนิยายหรือ Lightnovel แทน</p>
          <b style="font-size: 12pt;">เล่นเกมส์</b>
          <p>พักสมองด้วยการเล่นเกมส์บ้างเป็นครั้งคราว แต่ส่วนใหญ่จะอ่านนิยายมากกว่า</p>
        </div>
        <div fxFlex="23.33%" fxFlex.xs="100%" data-aos="zoom-in" data-aos-duration="400">
          <h2>
            <mat-icon>play_circle</mat-icon>
            เพลง
          </h2>
          <b style="font-size: 12pt;">Sore wa bokutachi no kiseki - µ's</b>
          <p>ชอบโดยส่วนตัว ที่ทำนองและบทเพลง</p>
          <b style="font-size: 12pt;">Snow halation - µ's</b>
          <p>เป็นเพลงที่ฟังสบาย ๆ ทำงานไปเรื่อย ๆ</p>
          <b style="font-size: 12pt;">Shonichi - AKB48 / BNK48</b>
          <p>เป็นเพลงที่ให้ความรู้สึกอยากลุกขึ้นสู้ พยายามทำงานต่อจนสำเร็จ</p>
        </div>
        <div fxFlex="23.33%" fxFlex.xs="100%" data-aos="zoom-in" data-aos-duration="400">
          <h2>
            <mat-icon>menu_book</mat-icon>
            นิยาย / Lightnovel
          </h2>
          <b style="font-size: 12pt;">Isekai wa smartphone tomo ni</b>
          <p>ไปต่างโลกก็ต้องไปกับโทรศัพท์มือถือสิ</p>
          <b style="font-size: 12pt;">Otonari no Tenshi-sama ni Itsu no Ma ni ka Dame Ningen ni Sareteita Ken</b>
          <p>ขาดคุณนางฟ้าข้างห้องไป ผมคงมีชีวิตต่อไปไม่ได้อีกแล้ว</p>
          <b style="font-size: 12pt;">Isekai Yakkyoku</b>
          <p>เภสัชกรเทพสองโลก</p>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.xs="100%" class="parallax3">
    <div class="content_section" style="color: #FFF;">
      <h1 data-aos="zoom-in" data-aos-duration="400">โซเชี่ยลมีเดีย</h1>
      <h3 data-aos="zoom-in" data-aos-duration="600">Soical Media</h3>
      <div fxLayout="row warp" fxLayoutAlign="center" fxLayoutGap="8px grid">
        <div fxFlex="50%" fxFlex.xs="100%" data-aos="zoom-in" data-aos-duration="400">
          <div class="section-component">
            <div fxLayout="row warp" fxLayoutAlign="space-around center" fxLayoutGap="4px grid"
              style="font-size: 14pt;">
              <div fxFlex="60%" fxFlex.xs="100%">
                <iframe src="https://discord.com/widget?id=375925982197972992&theme=dark" width="100%" height="300"
                  allowtransparency="true" frameborder="0"
                  sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
              </div>
              <div fxFlex="30%" fxFlex.xs="60%">
                <div fxLayout="row warp" fxLayoutGap="8px grid" style="font-size: 14pt;">
                  <div fxFlex="100%">
                    <a href="https://www.facebook.com/Wutthiphon.WoodyCH/" target="_blank" mat-stroked-button
                      class="profile_btn full-width">
                      <i class="fab fa-facebook"></i> Wutthiphon Tassana
                    </a>
                  </div>
                  <div fxFlex="100%">
                    <a href="https://www.instagram.com/woody_wutthiphon/" target="_blank" mat-stroked-button
                      class="profile_btn full-width">
                      <i class="fab fa-instagram"></i> woody_wutthiphon
                    </a>
                  </div>
                  <div fxFlex="100%">
                    <a href="https://www.youtube.com/c/WoodyCH" target="_blank" mat-stroked-button
                      class="profile_btn full-width">
                      <i class="fab fa-youtube"></i> WoodyCH
                    </a>
                  </div>
                  <div fxFlex="100%">
                    <a href="https://github.com/Wutthiphon" target="_blank" mat-stroked-button
                      class="profile_btn full-width">
                      <i class="fab fa-github"></i> Wutthiphon
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
