.middle_center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.parallax {
  /* The image used */
  background-image: url("../../../assets/images/background/bg1.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-color: #f3f3f3;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-color: #151515;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_section {
  height: 100vh !important;
  position: relative;
}

.profile_image {
  background: linear-gradient(
    149deg,
    rgba(27, 195, 134, 1) 0%,
    rgba(153, 208, 154, 1) 69%,
    rgba(0, 130, 91, 1) 100%
  );
  border-radius: 25px;
  padding: 9px;
  box-sizing: border-box;
}

.profile_image2 {
  background: linear-gradient(
    149deg,
    rgba(229, 103, 38, 1) 0%,
    rgba(229, 163, 38, 1) 53%,
    rgba(229, 211, 38, 1) 100%
  );
  border-radius: 25px;
  padding: 9px;
  box-sizing: border-box;
}

.profile_image3 {
  border-radius: 25px;
  padding: 9px;
  box-sizing: border-box;
}

.profile_btn {
  border-radius: 25px;
  border-color: white;
  stroke: white;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

.logo-image {
  max-height: 100px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  -webkit-overflow-scrolling: touch;

  .mat-card {
    display: inline-block;
    white-space: pre-wrap !important;
  }
}

.photobanner {
  height: 233px;
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
