<mat-toolbar class="app-toolbar mat-elevation-z0">
  <div fxShow=" true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle();color_change()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <img src="./assets/images/logo.png" height="35" width="35" />
  <span class="companyName">&nbsp; WUTTHIPHON</span>
  <span class="web-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button class="toolbar-button" routerLink="/">
      <span class="material-icons-outlined">home</span>
      หน้าแรก
    </a>
    <a mat-button class="toolbar-button" routerLink="/">
      <span class="material-icons-outlined">face</span>
      ประวัติส่วนตัว
    </a>
    <a mat-button class="toolbar-button" routerLink="/articles">
      <span class="material-icons-outlined">article</span>
      บทความ
    </a>
    <a mat-button class="toolbar-button" routerLink="/credit">
      <span class="material-icons-outlined">bookmark_border</span>
      เครดิต
    </a>
  </div>
</mat-toolbar>
<mat-sidenav-container class="main-fx">
  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true"
    class="sidenav-link" (click)="sidenav.toggle()" style="width: 50%;">
    <div fxLayout="column">
      <a mat-button class="sidebar-button" routerLink="/">
        <span class="material-icons">home</span> หน้าแรก
      </a>
      <a mat-button class="sidebar-button" routerLink="/">
        <span class="material-icons">face</span> ประวัติส่วนตัว
      </a>
      <a mat-button class="sidebar-button" routerLink="/articles">
        <span class="material-icons">article</span>
        บทความ
      </a>
      <a mat-button class="sidebar-button" routerLink="/credit">
        <span class="material-icons">bookmark_border</span> เครดิต
      </a>
    </div>
  </mat-sidenav>
  <!-- Data in page -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
